ADALITE_BACKEND_HOST_PORT=8080
ICARUS_IMPORTER_HOST_PORT=8202
DB_HOST_PORT=5430
DATA_PATH=/home/ubuntu/docker_data

SLACK_TOKEN=
SLACK_CHANNEL=
POSTGRES_PASSWORD=mysecretpassword
CORS_ENABLED_FOR="http://localhost:*,http://www.zoznam.sk"
